.container {
    height: 200px;
    background-color: aqua;
    display: flex;
    padding: 30px;
}

.item-1 {
    background-color: coral;
}

.item-2 {
    background-color: cadetblue;

}

.item-3 {
    background-color: burlywood;

}

.container-2 {
    background-color: cornflowerblue;

}

.container-3 {
    background-color: darkgoldenrod;

}