body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    border-radius: 15px;
    padding: 50px;
}