@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body{
    background-color: var(--White);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 95vh;
    
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
   background-color: var(--Violet-blue);
   height: 500px;
   width: 350px;
   border-radius: 25px;
   flex-direction: column;
}
.circulo{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: var(--Light-slate-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


